$primary-font-family: "Playfair Display", serif;
$secondary-font-family: "Rubik", sans-serif;
$primary-font-weight: 400;
$secondary-font-weight: 500;
$primary-font-size: 40px;
$secondary-font-size: 18px;
$third-font-size: 28px;
$fourth-font-size: 24px;
$primary-line-height: 53.32px;
$secondary-line-height: 21.33px;
$third-line-height: 31.99px;
$fourth-line-height: 21.33px;
