$primary-dark-color: #ff7757;
$primary-light-color: #ffd2c7;
$secondary-dark-color: #331811;
$secondary-light-color: #61291c;
$third-dark-color: #172432;
$fourth-dark-color: #767e86;
$main-light-color: #fff;
$primary-font-family: "Playfair Display", serif;
$secondary-font-family: "Rubik", sans-serif;
$primary-font-weight: 400;
$secondary-font-weight: 500;
$primary-font-size: 40px;
$secondary-font-size: 18px;
$third-font-size: 28px;
$fourth-font-size: 24px;
$primary-line-height: 53.32px;
$secondary-line-height: 21.33px;
$third-line-height: 31.99px;
$fourth-line-height: 21.33px;
