@use "../variables/variables";

.button-container {
  display: flex;
  flex-direction: row;
  width: 172px;
  height: 50px;
  gap: 40px;

  &__left-button {
    background-image: url(../images/button-icon-left.png);
    object-fit: cover;
    top: 100%;
    width: 61px;
    height: 55px;
    border-radius: 12px;
    border-color: variables.$secondary-light-color;
    fill: variables.$secondary-light-color;
    padding: 28px 20px 28px 20px;
    gap: 4px;
  }

  &__right-button {
    background-image: url(../images/button-icon-right.png);
    object-fit: cover;
    top: 100%;
    width: 61px;
    height: 55px;
    border-radius: 12px;
    border-color: variables.$primary-dark-color;
    fill: variables.$primary-dark-color;
    padding: 28px 20px 28px 20px;
    gap: 4px;
  }
}
