@use "../variables/variables";

cards-container-berlin {
  position: relative;
  &__image {
  }
  &__text {
    color: variables.$main-light-color;
    position: absolute;
    top: 30 rem;
  }
}

cards-container-london {
  position: relative;
  &__image {
  }
  &__text {
    color: variables.$main-light-color;
    position: absolute;
    top: 30 rem;
  }
}

cards-container-venice {
  position: relative;
  &__image {
  }
  &__text {
    color: variables.$main-light-color;
    position: absolute;
    top: 30 rem;
  }
}
