@use "../variables/colors";
@use "../variables/fonts";

.h1-measurements {
  font-family: fonts.$primary-font-family;
  font-weight: fonts.$primary-font-weight;
  font-size: fonts.$primary-font-size;
  line-height: fonts.$primary-line-height;
  color: colors.$third-dark-color;
}
