@use "../variables/colors";
@use "../variables/fonts";

.p-measurements {
  font-family: fonts.$secondary-font-family;
  font-weight: fonts.$primary-font-weight;
  size: fonts.$secondary-font-size;
  line-height: fonts.$secondary-line-height;
  color: colors.$fourth-dark-color;
}
