@use "../variables/variables";

.popular-destination {
  width: 288px;
  height: 63px;
  gap: 32px;

  &__h1-measurements {
    font-family: variables.$primary-font-family;
    font-weight: variables.$primary-font-weight;
    font-size: variables.$primary-font-size;
    line-height: variables.$primary-line-height;
    color: variables.$third-dark-color;
  }

  &__line {
    border-style: solid;
    width: 227px;
    border-color: variables.$primary-dark-color;
  }
}

.p-measurements {
  font-family: variables.$secondary-font-family;
  font-weight: variables.$primary-font-weight;
  size: variables.$secondary-font-size;
  line-height: variables.$secondary-line-height;
  color: variables.$fourth-dark-color;
}
